body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.portfolio-links {
    margin-top: 30px;
}

.portfolio-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portfolio-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.portfolio-links a {
    animation: fadeIn 0.8s ease-out forwards;
    opacity: 0; /* Start invisible */
}

.portfolio-links a:nth-child(1) {
    animation-delay: 0.2s;
}

.portfolio-links a:nth-child(2) {
    animation-delay: 0.4s;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}